<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subforuem</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="top">
        <div class="brick"></div>

        <div class="info">
            <div class="first">
                <img src="media/iaroslave.jpg" alt="" style="width: 100px; border-radius: 50%; border: 5px solid rgb(15, 17, 19);">
                <h2>r/SleepLoversForum</h2>
            </div>
            
            <div class="second">
                <div class="create but">Create post</div>
                <div class="join but">Join</div>
                <div class="dotdotdot but">•••</div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="right">
            <div class="top">
                <select id="sort_by" name="sort_by">
                    <option value="hot">Hot</option>
                    <option value="new">New</option>
                    <option value="top">Top</option>
                    <option value="rising">Rising</option>
                  </select>
            </div>

            <div class="bottom">
                <hr>
                <div class="post">
                    <div class="top">
                        <div class="user-and-time">
                            <img src="media/iarik.jpeg" alt="" style="height: 35px; border-radius: 50%;">
                            <p>Iarik2007</p>
                            <h4>5h ago</h4>
                        </div>

                        <div class="dotdotdot but">•••</div>
                    </div>
                    <div class="text">Straight men, how would you feel if a gay male stranger suddenly told you, "You are hot AF"? </div>
                    <div class="bottom-post">
                        <div class="like but">1.5K</div>
                        <div class="comment but">Comments</div>
                        <div class="share but">Share</div>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="left">
            <h2 class="title">Sleep Lovers Forum</h2>
            <h2 class="desc">Sleep Lovers Forum is a place to talk about sleeping.</h2>
            <h2 class="created">Created Jan 32, 2024</h2>
            <h2 class="public">Public</h2>
        </div>
    </div>
</body>
</html>